@import "../../assests/scss/theme-variables.scss";
.cart-dropdown-container {
  position: fixed;
  min-width: 300px;
  // height: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 100px;
  right: 40px;
  border-radius: 15px;
  z-index: 50;


  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 330px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
@include themed {
  .cart-dropdown-container {
    background-color: $back;
    color: $text;
  }
}
@media (max-width : 574px){
  .cart-dropdown-container{
    width: 200px;

  }

  
}
