@import "../../assests/scss/theme-variables.scss";
.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
  }
  .banner {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    color: #fff;
    .inner-banner {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      .banner-btn{
        text-transform: capitalize;
      }
    }
  }
}
