@import '../../assests/scss//theme-variables.scss';
.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  

  .item-count {
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    top: 3px;
    left: 22px;
    background: linear-gradient(to right, #614385, #516395) !important;
  }
}
@include themed {
  .shopping-icon{
    color: $text;
  }
}
