@import '../../assests/scss/theme-variables.scss';
.notFound-wrapper{
    padding: 2rem ;
    height: 100vh;
    .text-color{
        color: #fff !important;
    }
    .img-wrapper{
       
        svg{
            width: 100%;
           
        }

    }
}
@include themed {
    .notFound-wrapper{
        background: $wrapper;
        color: $text;
    }
}
